<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
    #news {
        margin-left:30px;
    }
    #news li {
        font-size: smaller;
        line-height: 1.2em;
        margin-bottom: 5px;
    }
</style>
<ul id="menu">
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/">Home</a></li>
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/officers">Officers</a></li>
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/members">Members</a></li>
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/working-groups">Working Groups</a></li>
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/gssps">GSSPs</a></li>
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/archives">Archives</a></li>
    <li><a href="https://stratigraphy.org/subcommission-cretaceous/links">Links</a></li>
</ul>

<div id="news">
    <h4>News</h4>
    <ul>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/coniacian1-gssp">Coniacian GSSP ratified by IUGS</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/berriasian-wg-meetings">Online meetings of the Berriasian Working Group</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/coniacian-gssp">Coniacian GSSP proposal approved by the Cretaceous Subcommission</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/berriasian-wg">New Berriasian Working Group appointed by the Cretaceous Subcommission</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/special-pub">New special publications on Cretaceous Stratigraphy</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/berriasian-gssp">Berriasian GSSP proposal not approved by the Cretaceous Subcommission</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/hauterivian-gssp">Hauterivian GSSP ratified by IUGS</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/accessibility">ACCESSIBILITY OF THE SANTONIAN GSSP AT OLAZAGUTIA (NAVARRA, N. SPAIN)</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/jk2019">J/K 2019: Bratislava – 10-14 June 2019</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/strati2019">STRATI 2019 – July 2-5, 2019</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/kromeriz">Meeting of the Berriasian WG – May 14-18, 2018 – Kromeriz (Moravia, Czech Republic)</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/bottaccione">Meeting of the Campanian WG – May 4-6, 2018 – Bottaccione Gorge (Umbria, Italy)</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/jk2018">JK2018 – December 5-7, 2018 – Geneve (Switzerland)</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/drome-excursion">Field excursion to some key Lower Cretaceous sites in Drôme (SE France) – May 17-19, 2017</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/10-symposium">10th International Symposium on the Cretaceous</a></li>
        <li><a href="https://stratigraphy.org/subcommission-cretaceous/news/35th-igc">35th IGC Business Meeting of the SCS</a></li>
    </ul>
</div>
    
    

    
    
    
    
    
    
    
    
    

